<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scorecards</title>
</head>
<body>
    <h1>Scorecards</h1>

    {{range .}}
    <div>
        <p>Scorecard ID: {{.ID}}</p>
        <p>Course ID: {{.CourseID}}</p>
        <p>Golfer ID: {{.GolferID}}</p>
        <ul>
            {{range $index, $value := .Holes}}
            <li>Hole {{inc $index}}: {{$value}}</li>
            {{end}}
        </ul>
    </div>
    {{end}}

</body>
</html>